.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.VideoInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.VideoInput_video {
  display: block;
  margin: 0;
  border: #99dff5 0.25px solid;
  
}

/* .VideoInput_input {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
} */

.btn {
  padding: 10px 10px;
  margin: 0px 5px;
  text-transform: capitalize;
  font-weight: 300;
  height: 2.5rem;
  box-sizing: border-box;
  font-size: .875rem;
  border-radius: 2px;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #1898be;
  cursor: pointer;
  border: 0;
  line-height: 1;
  letter-spacing: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
}

.btn:hover {
  background: #29bdeb;
}

.btn_name {
  color: #fff;
}


.wrapChooseImg {
  position: relative;
}

.wrapChooseImg:hover .btnWhite{
  background: #29bdeb;
}

.chooseFile {
  position: relative;
  max-width: 100px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.btnWhite {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100px;
  z-index: 1;
  background-color: #1898be;
  cursor: pointer;
  border: 1px solid #29bdeb;
  color: #fff;
  border-radius: 2px;
}

.grBtn{
  display: flex;
}

.tag_pre{
  margin-top: 0.5rem;
}

.non_violen{
  color: #0e9958;
  font-weight: bold;
  font-size: large;
}

.violen{
  font-size: large;
  color: #dd0b0b;
  font-weight: bold;
}